/* custom css to hide button save */
.dx-datagrid-toolbar-button.dx-edit-button.dx-datagrid-save-button {
	display: none;
}
.dx-datagrid-toolbar-button.dx-edit-button.dx-datagrid-cancel-button {
	display: none;
}
.dx-datagrid-toolbar-button.dx-edit-button.dx-datagrid-addrow-button {
	display: none;
}
